<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>home page</title>

</head>
<body>


<div class="jumbotron">
    <h1 style="text-align:center" class="display-4">Welcome to New Textiles</h1>
    <p class="lead" style="text-align:center">A Whole Sale Textile company. Here we provide online purchase, and give invoices to all our buyers. Kindly Log in to Buy stuffs</p>
    <hr class="my-4">



    <div class="row">

<!--        <div class="col-lg-6">-->
<!--            <img src="{% static 'images/admin.jpg' %}" width="50%" height="50%" alt=""><br><br>-->
<!--            <a class="btn btn-primary btn-lg" style="text-align:center" href="/adminclick" role="button">Admin</a>-->

<!--        </div>-->

        <div class="col-lg-6">
            <img src="{% static 'images/buyer.png' %}" width="50%" height="50%" alt=""><br><br>
            <a class="btn btn-primary btn-lg" href="/buyerclick" role="button">Buyer</a>
        </div>
    </div>
    <hr class="my-4">

</div>

</body>
</html>